NODE_ENV=development
PORT=3000

DATABASE_HOST=your_database_host
DATABASE_PORT=5432
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=change_me

AWS_REGION=your_aws_region
AWS_ENDPOINT_URL=http://your-aws-endpoint:4566
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

SQS_TRANSACTIONS_QUEUE=your_transactions_queue.fifo
SQS_TRANSACTIONS_DLQ=your_transactions_dlq.fifo
SQS_EVENTS_QUEUE=your_events_queue.fifo